.newArrivals {
    height: 148px;
    background-color: #f8f3f4;

    .container {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:490px) {
            flex-direction: column;
            justify-content: center;
        }

        h1 {
            color: #f16d7f;
            font-size: 24px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
        }

        nav {

            a {
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-decoration: none;
                text-transform: uppercase;
                color: #636363;
                &:last-of-type {
                    color: #f16d7f;
                    font-weight: 700;
                }

            }

        }
    }
}