.products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;

    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 438px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.product {

    img {
        width: 100%;
        display: block;
    }

    .productName {
        color: #6f6e6e;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 15px;
    }

    .productPrice {
        color: #f16d7f;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 15px 15px;
    }
}